window {
  background-color: rgba(22, 22, 29, 0.8);
}
button {
  color: #dcd7ba;
  background-color: rgba(31, 31, 40, 0.8);
  border: none;
  padding: 10px;
}
button label.action-name {
  font-size: 24px;
}
button label.keybind {
  font-size: 20px;
  font-family: monospace;
}
button:hover label.keybind,
button:focus label.keybind {
  opacity: 1;
}
button:hover,
button:focus {
  color: #7e9cd8;
  background-color: rgba(22, 22, 29, 0.9);
}
button:active {
  color: #1f1f28;
  background-color: #7e9cd8;
}
button#shutdown {
  color: #e82424;
}
button#reboot {
  color: #98bb6c;
}
button#lock {
  color: #e6c384;
}
button#logout {
  color: #ffa066;
}
